<div class="col"><hr>
    Let's go  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <ul class="follow-me">
       <li><a href="https://twitter.com"></a></li>  

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

   <ul class="follow-me2">
       <li><a href="https://www.youtube.com"></a></li>
</div>  
<p id="pagetop"><a href="#">TOP</a></p>  
