<div class=edit>
  <div class="sell-btn-contents">
    <%= form_with model:@user, local: true do |f| %>
      今の体重
        <%= f.collection_select(:weight_id, Weight.all, :id, :name, {}, {class:"select-box", id:"user-category"}) %>
       <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    <% end %>
  </div>
</div> 
    